@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF Pro Display' ;
    src: url('./assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display' ;
    src: url('./assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'SF Pro Display' ;
    src: url('./assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 600;
}

* {
    font-family: 'SF Pro Display', sans-serif;
}

body,
:root {
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: subpixel-antialiased;
    /* font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv09", "cv10"; */
}
